.cart__total {
  margin-top: 3rem;
  text-align: right;
  font-size: 2rem;
}

.cart__total-price {
  margin-left: 2rem;
  font-weight: bold;
}

.cart .product__price {
  margin-left: auto;
}

.cart .product {
  width: 100%;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.cart__empty {
  margin-top: 4rem;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}