.cart__list-item {
  /* width: 100%; */
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.cart .product__price {
  margin-left: auto;
}

.cart__list-item-actions {
  width: 100%;
  display: flex;
  justify-content: end;
}

.cart__total {
  text-align: right;
  font-size: 2em;
}

.cart__total-price {
  margin-left: 20px;
  font-weight: bold;
}