.product, .product__info {
  display: flex;
  flex-direction: column;
}

.product {
  width: 30%;
  margin: 5px 0;
  padding: 1rem 1.5rem;
  border: 3px solid var(--yellow);
  border-radius: 10px;
}

.product__image {
  height: 100%;
  max-height: 240px;
  margin-bottom: 2rem;
  object-fit: contain;
}

.product__info {
  margin-top: auto;
}

.product__info-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.product__price {
  font-size: 2em;
  font-weight: bold;
}

.product__actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}